.ThankyouBillMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 3rem;
}

.orderNumber {
  width: 100%;
  text-align: right;
  margin: 0 0 2rem;
  padding: 0 0.9rem 0 0;
}

.orderNumber h5 {
  font-weight: 600;
}

.totalPrice {
  width: 100%;
  margin: 3rem 0 0;
}

.totalPrice h5 {
  font-size: 22px;
  font-weight: 600;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem 0 1rem;
}

.totalAmount h6 {
  color: #676767;
  font-size: 20px;
}

.totalAmount h5 {
  color: #0e62cb;
}

@media (max-width: 600px) {
  .ThankyouBillMainContainer {
    margin: 2rem 1rem;
  }
}
