.ImgCard {
    background-color: #F5F9FF;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.08);
}

.ImgCard img {
    padding-top: 2rem;
    height: 80px;
}

.ImgTitle {
    font-weight: 700;
    font-size: 16px;
    color: #0E62CB;
}

.ImgTitleWrraper {
    margin-top: 2rem;

}

@media (min-width:320px) and (max-width: 450px) {
    .ImgCard {
        width: 100%;
        height: 114px;
    }

    .ImgTitle {
        font-weight: 700;
        font-size: 11px;
    }

    .ImgCard img {
        padding-top: 2rem;
        height: 65px;
    }
}

@media (min-width: 768px) and (max-width: 1080px) {}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 650px) and (max-width: 740px) {}