.MainTitleWrraper {
    text-align: center;
    padding-bottom: 3rem;
}

.MainTitle {
    font-weight: 400;
    font-size: 48px;
}

@media (min-width:320px) and (max-width: 450px) {
    .MainTitle {
        font-size: var(--mobileHeading);
    }
}

@media (min-width: 768px) and (max-width: 1080px) {
    .TablateSpacing {
        padding-left: 5rem;
    }
}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 650px) and (max-width: 740px) {}