.bookingCardContainer {
  background: white;
  margin: 0.7rem 0;
  border-radius: 5px;
  padding: 1rem;
}

.bookingCardHead {
  justify-content: space-between;
  margin: 0 0 1rem;
}

.bookingCardHead>div {
  padding: 0;
}

.bookingOrder {
  color: #646464;
  display: flex;
  align-items: center;
}

.bookingOrder p {
  margin: 0;
}

.bookingCardStatus {
  border: 1px solid #00b67f;
  background-color: #e5fff7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.08);
}

.bookingCardStatus * {
  margin: 0;
  color: #00B67F;
}

.bookingCardProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingCardProfile p {
  margin: 0.5rem 0 0;
}

.bookingCardBody {
  display: flex;
  justify-content: space-between;
}

.customMessage {
  color: #646464;
  margin: 0.5rem 0 0;
}

.actionBtn {
  font-size: 18px;
}

.actionButtons>div {
  padding: 0;
  display: flex;
  justify-content: center;
}

.SmallDetails {
  font-weight: 400;
  font-size: 20px;
}

@media (min-width:320px) and (max-width: 450px) {
  .actionBtn {
    font-size: 16px;
    font-weight: 400;
    padding: 0.6rem 2.5rem;
    border: 1.5px solid #0E62CB;
    border-radius: 5px;
  }

  .bookingCardStatus {
    font-size: 14px;
  }

  .SmallDetails {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 650px) and (max-width: 740px) {}