.errorHeroContainer {
  margin: 4rem auto;
  align-items: center;
  justify-content: space-evenly;
}

.errorHeroText {
  text-align: center;
  width: 36vw;
}

.errorHeroText h1 {
  font-size: 48px;
  font-weight: 600;
}

.errorHeroText p {
  margin: 1.5rem 0 4.3rem;
  font-size: 20px;
  font-weight: 500;
}

.errorHeroText a {
  text-decoration: underline;
  color: #0e62cb;
  font-size: 22px;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .errorHeroContainer {
    margin: 1.5rem 1rem;
    flex-direction: column-reverse;
  }

  .errorHeroImageRow {
    padding: 0;
  }
  .errorHeroText {
    margin: 0 0 4rem;
    width: 100%;
  }

  .errorHeroText h1 {
    margin: 0rem 0 0;
    font-size: 24px;
  }

  .errorHeroText p {
    margin: 1rem 0.5rem 1.5rem;
    font-size: 16px;
  }
  .errorHeroText a {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .errorHeroContainer {
    margin: 2rem 1rem;
    flex-direction: column-reverse;
  }
  .errorHeroImage {
    text-align: center;
    margin: 2rem 0 0;
  }

  .errorHeroText {
    width: 57vw;
    margin: auto;
  }
  .errorHeroText h1 {
    margin: 2rem 0 0;
  }
  .errorHeroText p {
    margin: 2rem 0 4rem;
    font-size: 20px;
  }
}
