.offerSections {
  margin: 2rem;
}

.offerSliderImage {
  margin: 1rem 0.5rem;
}

.offerSliderImage img {
  margin: auto;
}

.offerSlider {
  margin: 0 1rem;
}

@media (max-width: 600px) {
  .offerSliderImage {
    margin: 0.5rem 0.2rem;
  }
  .offerSections {
    margin: 0 0 1rem;
  }
  .offerSlider {
    margin: 0 0 2rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .offerSections {
    margin: 1rem;
  }
  .offerSlider {
    margin: 0 0.7rem;
  }
}
