/* .aboutTeamContainer {
  margin: 4rem 3rem;
} */

.aboutTeamHeading {
  text-align: center;
  margin: 0 0 3rem;
}

.aboutTeamHeading h2 {
  font-size: 54px;
}

.aboutTeamBoxes {
  justify-content: space-between;
  margin: 0;
}

.teamImages {
  margin: 0 1rem 0 0;
}

/* mobile portrait */
@media (max-width: 600px) {
  /* .aboutTeamContainer {
    margin: 3rem 1rem 2rem;
  } */
  .aboutTeamHeading {
    margin: 0 0 1rem;
  }
  .aboutTeamHeading h2 {
    font-size: 24px;
  }

  .teamImages {
    margin: 0rem 1rem 2rem;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* .aboutTeamContainer {
    margin: 5rem 2rem;
  } */
  .aboutTeamBoxes div {
    padding: 0;
  }
}
