.aboutHeroSection {
  margin: 4rem 3rem;
  align-items: center;
  justify-content: center;
}

.aboutHeroHeading {
  text-align: center;
  margin: 0 0 2rem;
}

.aboutHeroParagraph p {
  font-size: 1.2rem;
}

.aboutheroimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
