.aboutHeroSection {
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.aboutHeroHeading {
  text-align: center;
  margin: 0 0 2rem;
}
.aboutHeroSection div {
  padding: 0;
}

.aboutHeroHeading h1 {
  font-size: 54px;
}

.aboutHeroParagraph p {
  font-size: 22px;
  text-align: justify;
}

.aboutHeroParagraph h3 {
  font-size: 36px;
  margin: 3rem 0 1rem;
}

.aboutheroimage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile portrait */
@media (max-width: 600px) {
  .aboutHeroSection {
    flex-direction: column-reverse;
  }
  .aboutHeroHeading {
    text-align: center;
    margin: 0 0 1rem;
  }
  .aboutHeroHeading h1 {
    font-size: 24px;
  }
  .aboutHeroParagraph p {
    font-size: 18px;
    text-align: center;
  }

  .aboutHeroParagraph h3 {
    font-size: 24px;
    margin: 1.5rem 0 0.5rem;
    text-align: center;
  }
  .aboutheroimage {
    margin: 0 0 2rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .aboutHeroParagraph p {
    text-align: justify;
  }
  .aboutHeroSection div:nth-child(2) {
    margin: 1rem auto 0;
  }
}
