.aboutHeroSection {
  margin: 4rem 3rem;
  align-items: center;
  justify-content: center;
}

.aboutHeroHeading {
  text-align: center;
  margin: 0 0 2rem;
}

.aboutHeroParagraph p {
  font-size: 20px;
}

.aboutheroimage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile portrait */
@media (max-width: 600px) {
  .aboutHeroSection {
    margin: 2rem 1rem;
  }
  .aboutHeroHeading {
    text-align: center;
    margin: 0 0 1rem;
  }
  .aboutHeroParagraph p {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .aboutheroimage {
    margin: 1rem auto 0;
  }
  .aboutHeroParagraph p {
    text-align: justify;
  }
}
