.aboutGreenSection {
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.aboutGreenHeading {
  text-align: center;
  margin: 0 0 3.2rem;
}

.aboutGreenHeading h2 {
  font-size: 54px;
}

.aboutGreenParagraph p {
  font-size: 24px;
  text-align: justify;
}

.aboutGreenSection div {
  padding: 0;
}

@media (max-width: 600px) {
  .aboutGreenSection {
    flex-direction: column-reverse;
  }

  .aboutGreenHeading {
    display: none;
  }
  .aboutGreenHeadingMobile h2 {
    font-size: 24px;
    text-align: center;
  }
  .aboutGreenParagraph p {
    font-size: 16px;
    text-align: center;
  }
  .aboutGreenimageRow {
    margin: 0 auto 1rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .aboutGreenSection {
  }
  .aboutGreenimageRow {
    margin: auto;
  }
  .aboutGreenimage {
    margin: 3rem 0 0;
    text-align: center;
  }
  .aboutGreenParagraph p {
    text-align: justify;
  }
  .aboutGreenSection div {
    padding: 0;
  }
}
