.aboutGreenSection {
  margin: 4rem 3rem;
  justify-content: space-between;
  align-items: center;
}

.aboutGreenHeading {
  text-align: center;
  margin: 0 0 3.2rem;
}

.aboutGreenHeading h2 {
  font-size: 54px;
}

.aboutGreenParagraph p {
  font-size: 24px;
  text-align: justify;
}

@media (max-width: 600px) {
  .aboutGreenSection {
    margin: 2rem 1rem;
  }

  .aboutGreenSection div {
    padding: 0;
  }
  .aboutGreenHeading h2 {
    font-size: 34px;
  }
  .aboutGreenHeading {
    margin: 0 0 1rem;
  }
  .aboutGreenParagraph p {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .aboutGreenSection {
    margin: 2rem;
  }
  .aboutGreenimageRow {
    margin: auto;
  }
  .aboutGreenimage {
    margin: 3rem 0 0;
    text-align: center;
  }
  .aboutGreenParagraph p {
    text-align: justify;
  }
  .aboutGreenSection div {
    padding: 0;
  }
}
