.homeApplianceHeroRow {
  background-color: #ebf3ff;
  margin: 0;
  padding: 2rem 1rem;
}

.homeApplianceHeroCopy h2 {
  color: #0e62cb;
  font-size: 40px;
  font-weight: 500;
}

.homeApplianceHeroCopy h5 {
  font-size: 24px;
  margin: 1rem 0 0;
}

@media screen and (max-width: 600px) {
  .homeApplianceHeroRow {
    background-color: #fff;
    padding: 1rem 0rem;
  }
  .homeApplianceHeroCopy h2 {
    color: #000000;
    font-size: 22px;
    font-weight: 500;
  }
  .homeApplianceHeroCopy h5 {
    font-size: 16px;
    margin: 0.4rem 0 0;
  }
}
