.modelHeroContainer {
  padding: 1rem;
  background-color: #ebf3ff;
}

.modelHeroRow {
  margin: 0 0 2rem;
}

.selectDevice {
  justify-content: center;
}

.selectButton {
  display: flex;
  flex-direction: column;
}

.selectButton p {
  margin: 0 0 1rem 0.8rem;
}

.filtersOption {
  padding: 2rem;
}

.brandLogoBox {
}

.selectDeviceNav {
  justify-content: space-around;
}
