.modelHeroContainer {
  padding: 1rem 1rem 2rem;
}

.modelHeroRow {
  padding: 1rem 3rem 2rem;
  background-color: #ebf3ff;
}

.selectDevice {
  justify-content: center;
  background-color: #ebf3ff;
  padding: 0 0 2rem;
}

.selectButton {
  display: flex;
  flex-direction: column;
}

.selectButton p {
  margin: 0 0 1rem 0.8rem;
}

.filtersOption {
  padding: 2rem;
}

.selectDeviceNav {
  display: flex;
  justify-content: center;
}
.navDropBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navdropdown {
  display: flex;
  align-items: center;
}

.getModels .navdropdown {
  justify-content: center;
}

.categoryImages {
  width: 4rem;
  margin: 0 1rem 0 0;
}
.modelContainer {
  position: relative;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
}

.mobileDataContainer {
  padding: 1rem;
  position: absolute;
  top: 80px;
  border-radius: 15px;
  z-index: 999;
  background-color: #fff;
}

.selectDeviceFirstRow .mobileDataContainer h4 {
  margin: 0.5rem 0 2rem;
  text-align: center;
}

.categoryDataMobile {
  justify-content: space-between;
}

.modelDropRow > div,
.selectDeviceFirstRow > div {
  width: 30vw;
}

.categoryContainer {
  padding: 0;
}

.categoryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: #f5f9ff;
  margin: 0.5rem;
}

.categoryBox p {
  margin: 0;
}

.disabledDrop {
  opacity: 0.7;
}

.topBrands {
  margin: 2rem auto 0;
  padding: 0 6rem;
  text-align: center;
}

.topBrands button {
  all: unset;
  color: #0e62cb;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  font-size: 24px;
}

.topBrandsRow {
  margin: 2rem 0 0;
  justify-content: center;
}

.topBrandsRow > div {
  display: flex;
  padding: 0 1rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .modelHeroRow {
    display: none;
  }
  .selectDevice {
    margin: 0;
  }
  .selectDeviceNav {
    padding: 0;
  }
  .selectDeviceFirstRow {
    margin: 0;
  }
  .selectButton > p {
    display: none;
  }
  .modelDrop {
    padding: 0;
  }
  .modelDropRow {
    margin: 1rem 0 0;
  }

  .selectDeviceFirstRow > div {
    width: 45vw;
  }
  .modelDropRow > div {
    width: 90vw;
  }
}
