/* / predefined css : start /  */
html,
body {
  padding: 0;
  margin: 0;
  font-family: "ProductSansRegular" !important;
  font-size: 16px;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Product Sans";
  src: local("ProductSansRegular"), url("/fonts/ProductSansRegular.ttf") format("truetype");
  font-weight: normal;
} */

/* / predefined css : over / */
@font-face {
  font-family: "ProductSansRegular";
  src: url("/assets/fonts/ProductSansRegular.ttf") format("truetype");
}

:root {
  --mobileHeading: 28px;
}

/* /===================Bootstrap===================/ /===================Accordion===================/  */
.AccordionContainer .accordion-button {
  background-color: #f5f9ff;
}

.AccordionContainer .accordion-button:focus {
  box-shadow: none !important;
}

.AccordionContainer .accordion-button::after {
  background-image: var(--bs-accordion-btn-active-icon);
}

.AccordionContainer .accordion-button:not(.collapsed) {
  background-color: #f5f9ff;
  color: #000;
}

/* /===================Accordion===================/ /===================Header===================/  */
.navBarBottomHeader .nav-pills .show>.nav-link {
  background-color: white !important;
}

.navBarBottomHeader {
  padding: 1rem 6rem !important;
  margin: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navBarBottomHeader .dropdown-menu.show {
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  border: none;
  top: 110% !important;
}

.navbar-expand-lg .navbar-nav .dropDownMenuHead:nth-child(5) .dropdown-menu.show,
.navbar-expand-lg .navbar-nav .dropDownMenuHead:nth-child(4) .dropdown-menu.show {
  right: -10% !important;
}

.navBarBottomHeader .dropdown-menu.show>div {
  display: flex !important;
}

.navBarBottomHeader .navbar-nav .dropdown-menu div {
  margin: 0.5rem 1rem;
}

.dropdown-item {
  font-size: 20px;
  color: #676767 !important;
}

.navBarBottomHeader .nav-pills .nav-link {
  padding: 0 !important;
  margin: 0.5rem 0;
  font-size: 20px;
}

.navbar-expand-lg .navbar-nav {
  justify-content: space-between;
  width: 100%;
}

.mobileNavBar .navbar-toggler-icon {
  background-image: url("/assets/icons/menu-toggle-button.svg") !important;
}

.mobileNavBar .navbar-toggler:focus {
  box-shadow: none !important;
}

.mobileNavBar .navDropMain {
  color: red !important;
}

.dropDownMenuHead .dropdown-toggle:focus,
.dropDownMenuHead .dropdown-toggle:active,
.dropDownMenuHead .dropdown-toggle,
.dropDownMenuHead .dropdown-toggle:hover {
  background-color: transparent;
  border: none;
  color: #000;
  padding: 0;
}

.dropDownMenuHead .dropdown-toggle::before {
  border: none !important;
}

.dropDownMenuHead .dropdown-toggle::after {
  border: solid #0e62cb;
  border-width: 0 2px 2px 0;
  display: inline-block !important;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropDownMenuHead .dropdown-toggle:focus {
  box-shadow: none;
}

/* /===================Header===================/ */
.selectButton .dropdown {
  background-color: white !important;
  padding: 0.4rem 0.8rem;
  border-radius: 0.375rem;
}

.selectButton .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.selectButton .nav-link:focus,
.selectButton .nav-link:active,
.selectButton .nav-link:hover {
  color: #000;
}

.selectButton .nav-link::after {
  border: solid #0e62cb;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.MobileFooter {
  display: none;
}

.aboutTeamBoxes .slick-slider {
  padding: 0 !important;
}

.offerSections .slick-arrow::before,
.aboutTeamBoxes .slick-arrow::before {
  color: #0e62cb;
}

/* carousel */
.carousel-control-prev {
  left: -60px;
}

.carousel-control-next {
  right: -60px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 1.4rem !important;
}

.getCategory .dropdown-menu.show {
  top: 40% !important;
  left: -15px !important;
  width: 100%;
}

.getBrands .dropdown-menu.show {
  width: 88vw;
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 130% !important;
  padding: 1.5rem;
}

.getModels .dropdown-menu.show {
  width: 88vw;
  left: 80% !important;
  transform: translateX(-94%) !important;
  top: 140% !important;
  padding: 1.5rem;
}

.selectButton .dropdown-item.active {
  color: white !important;
}

/*remove  input number small up-down buttons Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*remove input number small up-down buttons Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none !important;
}

.CalendarSlider .slick-prev {
  font-size: 28px !important;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #0e62cb !important;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0px 2px 4px #323232;
}

.CalendarSlider .slick-next {
  font-size: 28px !important;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #0e62cb !important;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0px 2px 4px #323232;
}

/* btn border (bootstrap) */
/* .btn {
  border-color: transparent !important;
}

.btn:hover {
  border-color: transparent !important;
} */
.pac-container {
  background-color: #fff;
  z-index: 200000;
  width: 30rem !important;
  font-family: "ProductSansRegular" !important;

  padding: 0rem 1rem;
}

.pac-item {
  font-weight: 400;
  font-size: 16px;
  padding: 1rem;
  border-bottom: 0.5px solid #c4c4c4;
}

.pac-item,
.pac-item-query {
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

/* .pac-matched {
} */
.pac-matched {}

.pac-icon {
  background: url("/assets/icons/gmap-location.svg") !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  padding-left: 2rem;
}

.pac-item span:nth-child(3n) {
  display: block;
  padding-left: 2.5rem;
  color: #676767;
  font-weight: 400;
  font-size: 16px;
}

.pac-item:hover {
  background: #6666;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.btn-close:focus {
  box-shadow: none !important;
}

.blogslider .slick-prev,
.slick-next {
  top: 35% !important;
}

.Needhelpaccordian .accordion-button {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  padding-left: 0%;
  padding-right: 0%;
}

.Needhelpaccordian .accordion-item {
  border: none;
  border-bottom: 0.5px solid #c4c4c4;
}

.Needhelpaccordian .accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0%;
}

.Needhelpaccordian .accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent;
  box-shadow: none;
}

.Needhelpaccordian .accordion-body {
  padding-left: 0%;
  padding-top: 0%;
}

.Needhelpaccordian .accordion {
  border-radius: 0% !important;
}

.Needhelpaccordian .accordion-button:focus {
  box-shadow: none;
}

.react-stars span {
  margin-right: 2rem;
  -webkit-text-stroke: 1.5px #feb546;
}

.RatingTitle {
  font-weight: 400;
  font-size: 20px;
}

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  border: 1px solid #0e62cb;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: #0e62cb;
  width: 22.45px;
}

.btn:hover {
  border-color: transparent !important;
}

.btn:focus {
  border: none;
  border-color: transparent !important;
}

.fs-18 {
  font-size: 18px;
  font-weight: 400;
}

.fs-20 {
  font-size: 20px;
  font-weight: 400;
}

/*  */
@media (min-width: 320px) and (max-width: 450px) {

  html,
  body {
    overflow-x: hidden;
  }

  .modal {
    top: 0px !important;
  }

  .logoutmodal .modal {
    top: -50% !important;
    left: 8% !important;
  }

  .slick-prev {
    left: -11px !important;
  }

  .slick-next {
    right: -4px !important;
  }

  .MobileFooter {
    display: block;
  }

  .AccordionMobileFooter .accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
  }

  .AccordionMobileFooter .accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent !important;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
  }

  .AccordionMobileFooter .accordion-button::after {
    background-image: url("/assets/icons/footer-menu.png");
  }

  .AccordionMobileFooter .accordion-button:not(.collapsed)::after {
    background-image: url("/assets/icons/footer-menu.png");
    transform: var(--bs-accordion-btn-icon-transform);
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    height: 1rem;
  }

  .slick-dots.slick-thumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .slick-dots.slick-thumb li {
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border-radius: 999px;
    transition: all 0.5s ease-in-out;
    will-change: width;
    border: 1px solid #0e62cb;
  }

  .slick-dots.slick-thumb li.slick-active {
    background-color: #0e62cb;
    width: 22.45px;
  }

  .OfferBannerImageSlide {
    overflow: hidden;
  }

  .OfferBannerImageSlide .slick-prev {
    left: 15px !important;
    z-index: 1;
  }

  .OfferBannerImageSlide .slick-next {
    right: 15px !important;
  }

  .OfferBannerImageSlide .slick-slider {
    padding: 0%;
  }

  .LoginPopup {
    display: flex !important;
    align-items: flex-end;
  }

  .LoginPopup .modal-dialog {
    margin: 0%;
  }

  .LoginPopup .modal-dialog-centered {
    align-items: flex-end;
  }

  .LoginPopup .modal-content {
    border-radius: 10px 10px 0px 0px;
  }

  .CartandOfferPopup {
    display: flex !important;
    align-items: flex-end;
  }

  .CartandOfferPopup .modal-dialog {
    margin: 0%;
  }

  .CartandOfferPopup .modal-dialog-centered {
    align-items: flex-end;
  }

  .CartandOfferPopup .modal-content {
    border-radius: 10px 10px 0px 0px;
  }

  .CheckoutPopup .modal-dialog {
    margin: 0%;
  }

  .CheckoutPopup .modal-dialog-centered {
    align-items: flex-end !important;
  }

  .CheckoutPopup .modal-content {
    border-radius: 10px 10px 0px 0px;
  }

  .modal {
    transform: translate(0%, 2%);
  }

  .pac-container {
    background-color: #fff;
    z-index: 200000;
    width: auto !important;
    font-family: "ProductSansRegular" !important;
    left: 0 !important;
    padding: 0rem 1rem;
  }

  .offerbanner .slick-prev,
  .slick-next {
    top: 50% !important;
  }

  .blogslider .slick-next {
    top: 40% !important;
  }

  .blogslider .slick-prev {
    top: 40% !important;
  }

  .CancelOrder .modal-dialog {
    margin: 0%;
  }

  .CancelOrder .modal-dialog-centered {
    align-items: flex-end;
  }

  .CancelOrder .modal-content {
    border-radius: 10px 10px 0px 0px;
  }

  .blogslider .slick-list {
    height: 17rem;
  }

  .OfferPopup .modal-dialog {
    margin: 0%;
  }

  .OfferPopup .modal-dialog-centered {
    align-items: flex-end;
  }

  .OfferPopup .modal-content {
    border-radius: 10px 10px 0px 0px;
  }

  .jobCard .modal-dialog {
    margin: 0%;
  }

  .jobCard .modal-dialog-centered {
    align-items: flex-end;
  }

  .jobCard .modal-content {
    border-radius: 10px 10px 0px 0px;
  }

  .Needhelpaccordian .accordion-button {
    background: #f5f6fa !important;
  }

  .Needhelpaccordian .accordion-body {
    background: #f5f6fa !important;
  }

  .react-stars span {
    margin-right: 0.9rem;
  }

  .RatingAndReview .modal-dialog {
    margin: 0%;
  }

  .RatingAndReview .modal-dialog-centered {
    align-items: flex-end;
  }

  .RatingAndReview .modal-content {
    border-radius: 10px 10px 0px 0px;
  }

  .FeedbackQuestions .modal-dialog {
    margin: 0%;
  }

  .FeedbackQuestions .modal-dialog-centered {
    align-items: flex-end;
  }

  .FeedbackQuestions .modal-content {
    border-radius: 10px 10px 0px 0px;
  }

  .ThankYou .modal-dialog {
    margin: 0%;
  }

  .ThankYou .modal-dialog-centered {
    align-items: flex-end;
  }

  .ThankYou .modal-content {
    border-radius: 10px 10px 0px 0px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {

  html,
  body {
    overflow-x: hidden;
  }

  .MobileFooter {
    display: block;
  }

  .AccordionMobileFooter .accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
  }

  .AccordionMobileFooter .accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent !important;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
  }

  .AccordionMobileFooter .accordion-button::after {
    background-image: url("/assets/icons/footer-menu.png");
  }

  .AccordionMobileFooter .accordion-button:not(.collapsed)::after {
    background-image: url("/assets/icons/footer-menu.png");
    transform: var(--bs-accordion-btn-icon-transform);
  }

  .slick-dots.slick-thumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .slick-dots.slick-thumb li {
    width: 6px;
    height: 6px;
    margin: 0 3px;
    border-radius: 999px;
    transition: all 0.5s ease-in-out;
    will-change: width;
    border: 1px solid #0e62cb !important;
  }

  .slick-dots.slick-thumb li.slick-active {
    background-color: #0e62cb !important;
    width: 22.45px;
  }

  .offerbanner .slick-prev,
  .slick-next {
    top: 50% !important;
  }

  .blogslider .slick-next {
    top: 35% !important;
  }

  .blogslider .slick-prev {
    top: 35%;
  }
}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 650px) and (max-width: 740px) {}

@media (min-width: 650px) and (max-width: 740px) {}

.jobCardRadio input[type="checkbox"]:checked,
.jobCardRadio input[type="checkbox"]:disabled {
  accent-color: #000 !important;
  color: #000 !important;
  border-color: #000;
  background-color: #000 !important;
}