.modelContainer {
  /* position: relative;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45); */
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(-8.5%, -22%);
  background: rgba(0, 0, 0, 0.45);
}

.mobileDataContainer {
  padding: 1rem;
  position: absolute;
  top: 80px;
  border-radius: 15px;
  z-index: 999;
  background-color: #fff;
}

/* .modelHeader {
  position: sticky;
  top: 104px;
  background-color: white;
  padding: 1rem;
} */

.mobileDataContainer h4 {
  margin: 0.5rem 0 2rem;
  text-align: center;
}

.categoryDataMobile {
  justify-content: space-between;
}

.categoryContainer {
  padding: 0;
}

.categoryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: #f5f9ff;
  margin: 0.5rem;
}

.categoryBox p {
  margin: 0;
}
