.TestimonialCard {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 2rem;
}

.TestimonialAvatar img {
    height: 60px;
    border-radius: 100%;
}

.RatingWrraper {
    margin: 1.5rem 0;
    margin-top: 0rem;
}

.TestimonialIcon {}

.TestimonialName {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0.4rem;
    margin-top: 1rem;
}

.TestimonialBrand {
    font-weight: 400;
    font-size: 18px;
}

.TestimonialDetail {
    font-weight: 600;
    font-size: 18px;
}

.TestimonialHeadingWrraper {
    text-align: center;
}

.TestimonialHeading {
    font-weight: 400;
    font-size: 48px;
}

@media (min-width:320px) and (max-width: 450px) {
    .TestimonialHeading {
        font-size: var(--mobileHeading);
        font-weight: 400;
    }

    .TestimonialName {
        font-weight: 400;
        font-size: 16px;
    }

    .TestimonialBrand {
        font-weight: 400;
        font-size: 14px;
    }

    .TestimonialDetail {
        font-weight: 400;
        font-size: 16px;
    }

    .TestimonialCard {
        margin: 1rem;
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1080px) {}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 650px) and (max-width: 740px) {}