.ImageTitle {
    font-weight: 700;
    font-size: 17px;
    width: 7rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.DeviceWrraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (min-width:320px) and (max-width: 450px) {
    .MobileImage {
        height: 3rem;
    }

    .MobileContainer {
        padding: 2.5rem 1rem !important;
    }

    .ImageTitle {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1080px) {
    .MobileContainer {
        padding: 3rem 0rem !important;
    }
}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 650px) and (max-width: 740px) {}